* {
  box-sizing: border-box;
}

#heading-text {
  font-family: "Josefin Slab", serif;
  color: white;
}

html {
  scroll-behavior: smooth;
  margin: 0;
  /* height: 100%; */
  overflow-x: hidden;
}

body {
  /* height: 2000px; */
  background: black;
  margin: 0;
  /* height: 100%; */
  overflow-x: hidden;
}

.responsive-menu-link {
  color: blue;
  font-family: "Roboto Slab", serif;
}

.responsive-menu-link {
  color: black;
  text-decoration: transparent;
}
/* ----- General Header CSS ------ */

#header {
  /* overflow-x: hidden; */
  position: absolute;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  font-size: 19px;
  min-height: 100px;
}

/* Normal Header */
#e-cell_title:hover {
  color: white;
  text-decoration: transparent;
}

#e-cell_title {
  color: blue;
}

.lead {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: black;
}

.active-header {
  background-color: white;
  color: black;
}

.menu-link {
  color: white;
  font-family: "Roboto Slab", serif;
}

.menu-link:hover {
  color: chartreuse;
  text-decoration: transparent;
}

.active-menu-links {
  color: black;
}

#normal-header {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: auto;
  font-size: 19px;
  min-height: 100px;
}

#header-img {
  width: 250px;
  margin-left: 15%;
}

#nav-bar ul {
  list-style: none;
  display: flex;
  flex-flow: row;
}

#nav-bar li {
  padding: 10px;
  margin: 12px;
}

#nav-bar ul,
a {
  text-decoration: none;
}

/* Responsive Header */

#responsive-header {
  /* position: absolute; */
  display: none;
  /* opacity: 0.5; */
  /* background-color: rgba(255, 255, 255, 0.5); */
}

#image-button-black {
  display: none;
  border: none;
}

#image-button-black:hover {
  cursor: pointer;
}

#image-button-black:focus {
  outline: 0;
}

/* ----- Hero Header CSS ----- */

#hero-header {
  /* width: 100vw; */
  height: 100vh;
  box-shadow: 3px 3px 2px #bebebe;

  /* hero-header flexbox */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Texy style */
  text-align: center;
  color: white;

  /* Background image */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./slider_image3.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#hero-title {
  font-size: 2.5em;
  font-family: "Acme", sans-serif;
}

#hero-text {
  font-size: 1.3em;
  margin-top: 2%;
  font-family: "Mukta", sans-serif;
  color: azure;
}

#hero-button {
  border: solid 2px white;
  background-color: inherit;
  color: white;
  margin-top: 6%;
  width: 25%;
  height: 55px;
  font-size: 15px;
  border-radius: 10px;
}

#hero-button:hover {
  cursor: pointer;
}

#features-container {
  box-shadow: 2px 2px 15px #bebebe;
  margin-top: 5%;
  padding: 2%;
}

/* Responsiveness */

/* @Media min-width: 480px */
@media only screen and (min-width: 200px) and (max-width: 860px) {
  /* General Elements */

  #title-text-separator {
    width: 15%;
    margin-top: 3%;
    margin-bottom: 3%;
    border: solid 1px #ff5a6e;
  }

  /* Navigation CSS */
  #header {
    /* overflow-x: hidden; */
    background: rgba(255, 255, 255, 1);
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 80px;
    margin: auto;
  }

  #normal-header {
    display: none;
  }

  #responsive-header {
    /* position: absolute; */
    display: flex;
    flex-flow: column;
    width: 100%;
    margin: auto;
    /* background-color: rgba(255, 255, 255, 0.5); */
  }

  #responsive-logo-button {
    display: flex;
    justify-content: space-between;
    padding: 2% 0 2% 0;
  }

  #responsive-nav-bar {
    /* position: absolute; */
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  #responsive-nav-bar ul {
    list-style: none;
  }

  #responsive-nav-bar li {
    text-align: center;
    font-size: 23px;
    margin-top: 10%;
  }

  #responsive-first-item {
    margin-top: 0;
    padding: 0;
  }

  #header-img-black {
    margin-left: 5%;
    margin-top: 3%;
    width: 50%;
    height: auto;
  }

  #dropdown-button-black {
    display: block;
    width: 35%;
    height: auto;
    margin-right: -30px;
    padding: 0;
  }

  #image-button-black {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    padding: 2%;
  }

  /* Hero CSS */

  #hero-header {
    width: auto;
    height: 120vh;

    /* hero-header flexbox */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    /* Texy style */
    text-align: center;
    color: white;

    /* Background image */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(./slider_image3.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  #hero-title {
    font-size: 1.5em;
    font-family: "Acme", sans-serif;
  }

  #hero-text {
    font-size: 1em;
    margin-top: 2%;
    font-family: "Permanent Marker", cursive;
    color: azure;
  }

  #hero-button {
    border: solid 2px white;
    background-color: inherit;
    color: white;
    margin-top: 6%;
    width: 25%;
    height: 55px;
    font-size: 15px;
    border-radius: 10px;
  }

  #hero-button:hover {
    cursor: pointer;
  }
}

/* Carousel */

.carousel-caption h5 {
  display: inline-block;
  padding: 10px;
  background: #b9121b;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.full-screen {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* About Us */
#about {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  color: tomato;
}

.about-text {
  color: white;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* Upcoming Events */

.contenedor {
  height: 100%;
  padding: 5% 0;
}

.text-center h1 {
  color: #fcfbfa;
}

.container_foto {
  background-color: rgba(57, 62, 93, 0.7);
  padding: 0;
  overflow: hidden;
  max-width: 350px;
  margin: 5px;
}

.container_foto article {
  padding: 10%;
  position: absolute;
  bottom: 0;
  z-index: 1;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.container_foto h2 {
  color: #fff;
  font-weight: 800;
  font-size: 25px;
  border-bottom: #fff solid 1px;
}

.container_foto h4 {
  font-weight: 300;
  color: #fff;
  font-size: 16px;
}

.container_foto img {
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.4;
  -webkit-transition: all 4s ease;
  -moz-transition: all 4s ease;
  -o-transition: all 4s ease;
  -ms-transition: all 4s ease;
  transition: all 4s ease;
}

.ver_mas {
  background-color: #feb66c;
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  z-index: 1;
  opacity: 0;
  transform: translate(0px, 70px);
  -webkit-transform: translate(0px, 70px);
  -moz-transform: translate(0px, 70px);
  -o-transform: translate(0px, 70px);
  -ms-transform: translate(0px, 70px);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.ver_mas span {
  font-size: 40px;
  color: #fff;
  position: relative;
  margin: 0 auto;
  width: 100%;
  top: 13px;
}

/*hovers*/

.container_foto:hover {
  cursor: pointer;
}

.container_foto:hover img {
  opacity: 0.1;
  transform: scale(1.5);
}

.container_foto:hover article {
  transform: translate(2px, -69px);
  -webkit-transform: translate(2px, -69px);
  -moz-transform: translate(2px, -69px);
  -o-transform: translate(2px, -69px);
  -ms-transform: translate(2px, -69px);
}

.container_foto:hover .ver_mas {
  transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  opacity: 1;
}

#click {
  font-size: 24px;
  /* margin: 0 auto; */
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: black;
}

/* Gallery */

div#carousel {
  perspective: 1200px;
  background: #100000;
  padding-top: 5%;
  font-size: 0;
  margin-bottom: 3rem;
  overflow: hidden;
}
figure#spinner {
  transform-style: preserve-3d;
  height: 300px;
  transform-origin: 50% 50% -500px;
  transition: 1s;
}
figure#spinner img {
  width: 40%;
  max-width: 425px;
  position: absolute;
  left: 30%;
  transform-origin: 50% 50% -500px;
  outline: 1px solid transparent;
}
figure#spinner img:nth-child(1) {
  transform: rotateY(0deg);
}
figure#spinner img:nth-child(2) {
  transform: rotateY(-45deg);
}
figure#spinner img:nth-child(3) {
  transform: rotateY(-90deg);
}
figure#spinner img:nth-child(4) {
  transform: rotateY(-135deg);
}
figure#spinner img:nth-child(5) {
  transform: rotateY(-180deg);
}
figure#spinner img:nth-child(6) {
  transform: rotateY(-225deg);
}
figure#spinner img:nth-child(7) {
  transform: rotateY(-270deg);
}
figure#spinner img:nth-child(8) {
  transform: rotateY(-315deg);
}
div#carousel ~ span {
  color: #fff;
  margin: 5%;
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  transition: 0.6s color;
  position: relative;
  margin-top: -6rem;
  border-bottom: none;
  line-height: 0;
}
div#carousel ~ span:hover {
  color: #888;
  cursor: pointer;
}

/* Testimonals */

/* Our Team */
/* @import url("https://fonts.googleapis.com/css?family=Muli"); */
/* * {*/
/*	 box-sizing: border-box;*/
/*	 font-family: 'Muli', sans-serif;*/
/*}*/
/* body {
  background: url("http://www.platehelp.nl/media/W1siZiIsIjIwMTUvMTAvMjcvMTBfNTZfMjBfNTU3X0lNR18xOTAxXzEuanBnIl1d/IMG_1901-1.jpg");
  background-size: cover;
} */

/* Our Team */

.container1 {
  width: auto;
  height: auto;
  /* margin-top: 120px; */
  margin-bottom: 0px;
  -webkit-perspective: 200px;
  perspective: 200px;
  text-align: center;
}
.container1 h1 {
  color: #ecf6ce;
  /* margin-bottom: 30px; */
}
.container1 > hr {
  border: none;
  border: 1px solid #fff;
  width: 80%;
}
.card {
  margin: 10px;
  display: inline-block;
  position: relative;
  width: 220px;
  height: 340px;
  opacity: 0.85;
}
.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  border-radius: 5px;
}
.front {
  transform: rotateY(0deg);
  background: -webkit-linear-gradient(top left, #84dd63, #009970);
  background: linear-gradient(to bottom right, #84dd63, #009970);
  text-align: center;
  padding: 30px;
}
.back {
  background: -webkit-linear-gradient(top left, #009970, #84dd63);
  background: linear-gradient(to bottom right, #009970, #84dd63);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  padding: 40px 15px;
  color: #fff;
}
.card:hover .front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
.card:hover .back {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
#contact {
  opacity: 0.5;
}

.front {
  /* position: relative; */
  /* background: url(./believe.png); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  /* opacity: 0.7; */
}

.front .name {
  padding-top: 120px;
  display: inline-block;
  font-size: 18px;
  color: black;
  /* opacity: ; */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.front .job {
  padding-top: 120px;
  color: black;
  opacity: 1;
  font-family: "Times New Roman", Times, serif;
}
.front hr {
  /* padding-top: 40px; */
  border: none;
  color: white;
  border: 1px solid;
}
.back .icon {
  fill: currentColor;
  color: inherit;
  height: 33px;
  width: 33px;
  margin-top: 15px;
  color: white;
}
.back .icon:hover {
  cursor: pointer;
  color: #648767;
}

@media screen and (max-width: 514px) {
  #view_3 {
    margin-bottom: 610px;
  }
  /* #view_2 {
    margin-bottom: 250px;
  } */
}

@media screen and (min-width: 515px) and (max-width: 728px) {
  #view_3 {
    margin-bottom: 270px;
  }
  /* #view_2 {
    margin-bottom: 5px;
  } */
}

@media screen and (min-width: 728px) {
  #view_3 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

/* Super important for adjusting height */
@media screen and (min-width: 728px) {
  .team_slider .carousel .carousel-inner {
    height: 360px;
  }
}

.carousel-inner .carousel-item .card .front #contact {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 300px;
  /* opacity: 0.4; */
}
/* End */

/* Events */
:root {
  --background-dark: #2d3548;
  --text-light: rgba(255, 255, 255, 0.6);
  --text-lighter: rgba(255, 255, 255, 0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

.hero-section {
  align-items: flex-start;
  /* background-image: linear-gradient(15deg, #0f4667 0%, #2a6973 150%); */
  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

@media (min-width: 540px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 960px) {
  .card-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card-grid .card {
  list-style: none;
  position: relative;
}

.card-grid .card:before {
  content: "";
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background {
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  /* trsnsform : scale(1) translateZ(0); */
  transition: filter 200ms linear, transform 200ms linear;
}

.card-grid .card:hover .card__background {
  transform: scale(1.05) translateZ(0);
}

.card-grid:hover > .card:not(:hover) .card__background {
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card-grid .card__content {
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.card__category {
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.card__heading {
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  line-height: 1.4;
  word-spacing: 100vw;
}

/* /----------back to top css----------/ */

.back-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: none;
  border: 0;
  border-radius: 25px;
  z-index: 10;
  color: #000000;
  background-color: white;
}

span.fa.fa-arrow-up {
  font-size: 20px;
}

.btn-primary:focus,
.btn-primary:hover {
  opacity: 0.8;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  transition: color 0.6s ease;
}
@media only screen and (max-width: 767px) {
  .back-to-top {
    right: 10px;
  }
}
/* /----------back to top css ends---------/ */

/* Testimonials */

.gtco-testimonials {
  position: relative;
  margin-top: 30px;
}
@media (max-width: 767px) {
  .gtco-testimonials {
    margin-top: 20px;
  }
}
.gtco-testimonials h2 {
  font-size: 30px;
  text-align: center;
  color: #333333;
  margin-bottom: 50px;
}
.gtco-testimonials .owl-stage-outer {
  padding: 30px 0;
}
.gtco-testimonials .owl-nav {
  display: none;
}
.gtco-testimonials .owl-dots {
  text-align: center;
}
.gtco-testimonials .owl-dots span {
  position: relative;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: block;
  background: #fff;
  border: 2px solid #01b0f8;
  margin: 0 5px;
}
.gtco-testimonials .owl-dots .active {
  box-shadow: none;
}
.gtco-testimonials .owl-dots .active span {
  background: #01b0f8;
  box-shadow: none;
  height: 12px;
  width: 12px;
  margin-bottom: -1px;
}
.gtco-testimonials .card1 {
  background: #fff;
  box-shadow: 0 8px 30px -7px #c9dff0;
  margin: 0 20px;
  padding: 0 10px;
  border-radius: 20px;
  border: 0;
}
.gtco-testimonials .card1 .card-img-top {
  max-width: 100px;
  border-radius: 50%;
  margin: 15px auto 0;
  box-shadow: 0 8px 20px -4px #95abbb;
  width: 100px;
  height: 100px;
}
.gtco-testimonials .card1 h5 {
  color: #01b0f8;
  font-size: 21px;
  line-height: 1.3;
}
.gtco-testimonials .card1 h5 span {
  font-size: 18px;
  color: #666666;
}
.gtco-testimonials .card1 p {
  font-size: 18px;
  color: #555;
  padding-bottom: 15px;
}
.gtco-testimonials .active {
  opacity: 0.5;
  transition: all 0.3s;
}
.gtco-testimonials .center {
  opacity: 1;
}
.gtco-testimonials .center h5 {
  font-size: 24px;
}
.gtco-testimonials .center h5 span {
  font-size: 20px;
}
.gtco-testimonials .center .card-img-top {
  max-width: 100%;
  height: 120px;
  width: 120px;
}
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
  outline: 0;
}

.container2 > hr {
  border: none;
  border: 1px solid #fff;
  width: 80%;
}

/* Our Team */

html {
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
}

.testimonials {
  background-color: #f33f02;
  position: relative;
  /* padding-top: 80px; */
}

.testimonials:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: fit-content;
  /* background-color: #ddd; */
}

#customers-testimonials .item-details {
  background-color: #333333;
  color: #fff;
  padding: 5px 10px;
  text-align: left;
}

#customers-testimonials .item-details h5 {
  margin: 0 0 15px;
  font-size: 18px;
  line-height: 18px;
}

#customers-testimonials .item-details h5 span {
  color: red;
  float: right;
  padding-right: 20px;
}

#customers-testimonials .item-details p {
  font-size: 14px;
}

#customers-testimonials .item {
  text-align: center;
  /* margin-bottom: 80px; */
}

.owl-carousel .owl-nav [class*="owl-"] {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.owl-carousel .owl-nav.disabled:hover {
  background-color: #d6d6d6;
}

.owl-carousel {
  position: relative;
}

.owl-carousel .owl-next,
.owl-carousel .owl-prev {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 30%;
  font-size: 20px;
  color: #fff;
  border: 10px solid #100000;
  text-align: center;
}

.owl-carousel .owl-prev {
  left: -70px;
}

.owl-carousel .owl-next {
  right: -70px;
}

#profession {
  color: lawngreen;
}

/* our team */
/* .item img:hover{
  transform: scale(0.9);
} */

/* Team below social media*/
.team-footer {
  background-color: #fff;
  color: black;
  padding: 5px 10px;
  /* text-align: left; */
}
